.team {
  @media screen and (min-width: 768px) {
    background-color: $background-team;
  }

  &-item {
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    background-color: $background-body;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;
  }
  &-item:last-child {
    @media screen and (max-width: 767px) {
      margin-bottom: 0;
    }
  }
  &-item {
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      width: calc((100% - 30px) / 2);
    }
  }

  &-item:not(:nth-child(2n)) {
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      margin-right: 30px;
    }
  }

  &-item:not(:nth-last-child(-n + 2)) {
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      margin-bottom: 30px;
    }
  }

  &-item {
    @media screen and (min-width: 1200px) {
      width: calc((100% - 90px) / 4);
    }
  }

  &-item:last-child {
    @media screen and (min-width: 1200px) {
      margin-right: 0;
    }
  }
  &-title {
    @media screen and (max-width: 1199px) {
      margin-top: 0;
      margin-bottom: 30px;
      padding-top: 60px;

      color: $title-text-color;

      font-style: normal;
      font-weight: bold;
      font-size: 28px;
      line-height: 1.18;
      text-align: center;
    }
    @media screen and (min-width: 1200px) {
      margin-top: 0;
      margin-bottom: 50px;
      padding-top: 94px;

      color: $title-text-color;

      font-style: normal;
      font-weight: bold;
      font-size: 36px;
      line-height: 1.17;
      text-align: center;
    }
  }
  &-img {
    padding-bottom: 60px;
    display: flex;
    flex-wrap: wrap;
    // width: 100%;
  }
  &-name {
    margin-top: 30px;
    margin-bottom: 10px;
    color: $title-text-color;

    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
  }
  &-specialty {
    margin-top: 0;
    margin-bottom: 16px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
  }
}
.container-team {
  justify-content: center;
  text-align: center;
  align-items: center;

  padding-left: 15px;
  padding-right: 15px;

  margin-right: auto;
  margin-left: auto;
  @media screen and (min-width: 480px) {
    width: 480px;
  }
  @media screen and (min-width: 768px) {
    width: 768px;
  }
  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}
.social-list {
  display: flex;
  justify-content: center;
  margin-right: 32px;
  margin-left: 32px;
  // margin-bottom: 30px;
}
.social-icon-item:not(:last-child) {
  margin-right: 10px;
}
.social-icon-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;

  background-color: $background-body;

  transition: background-color 250ms $cubic;
  &:hover,
  &:focus {
    @media screen and (min-width: 1200px) {
      background-color: $accent;
    }
  }
  &:hover,
  &:focus {
    .icon-social {
      @media screen and (min-width: 1200px) {
        fill: $background-body;
      }
    }
  }
}
.icon-social {
  width: 20px;
  height: 20px;
  fill: $icon-color;

  transition: fill 250ms $cubic;
}
