.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  background: rgba(0, 0, 0, 0.2);

  opacity: 1;
  transition: opacity 250ms $cubic;
  overflow-y: scroll;

  &.is-hidden {
    opacity: 0;
    pointer-events: none;
  }
}
.backdrop.is-hidden.modal {
  transform: scale(0.9) translate(-50%, -50%);
}
.modal {
  position: absolute;
  width: 450px;
  height: 609px;
  // left: 50%;
  // top: 50%;
  // transform: scale(1) translate(-50%, -50%);

  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms $cubic;
  // padding: 40px;
  & {
    @media screen and (min-width: 1200px) {
      width: 528px;
      height: 581px;
    }
  }
  left: 50%;
  top: 15px;
  transform: scale(1) translate(-50%, 10%);
  & {
    @media screen and (min-width: 1200px) {
      left: 50%;
      top: 50%;
      transform: scale(1) translate(-50%, -50%);
    }
  }

  &-head {
    width: 370px;
    height: 60px;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 1.5;
    text-align: center;

    margin-right: auto;
    margin-left: auto;

    color: $title-text-color;
    @media screen and (min-width: 1200px) {
      font-size: 20px;
      line-height: 1.15;
      width: 100%;
      height: auto;
    }
  }
}
.button-end {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: 8px;
  margin-top: 8px;

  background: $background-body;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.svg-end {
  width: 11px;
  height: 11px;
  fill: $logo;

  transition: fill 250ms $cubic;

  .button-end:hover &,
  .button-end:focus & {
    fill: $accent;
  }
}
.form {
  width: 370px;
  height: 342px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 12px;
  @media screen and (min-width: 1200px) {
    width: 448px;
    height: 342px;
  }

  &-field {
    position: relative;
  }
  &-label {
    display: flex;
    flex-direction: column;
  }
  &-name {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 1.17;
    margin-bottom: 4px;

    letter-spacing: 0.01em;

    color: $primary-text-color;
  }
  &-input {
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    height: 40px;
    margin-bottom: 10px;
    padding: 12px;
    padding-left: 42px;

    transition: border 250ms $cubic;
  }
  &-input:focus {
    border: 1px solid $accent;
    border-radius: 4px;
  }
}
.textarea {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  height: 120px;
  width: 100%;
  resize: none;

  padding-left: 16px;
  padding-top: 12px;
  padding-right: 12px;
  padding-bottom: 12px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);

  transition: border 250ms $cubic;

  &:focus {
    border: 1px solid $accent;
    border-radius: 4px;
  }
}
.icon-modal {
  position: absolute;
  width: 18px;
  height: 18px;
  fill: $title-text-color;

  top: 55%;
  left: 12px;

  transform: translateY(-50%);
  transition: fill 250ms $cubic;

  .form-input:focus-within + & {
    fill: $accent;
  }
}
.checkbox {
  margin-top: 20px;
  margin-bottom: 30px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  width: 100%;

  &-label {
    position: relative;
  }
  &-input {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  &-icon {
    position: absolute;
    display: inline-block;
    width: 16px;
    height: 15px;
    border: 2px solid black;
    border-radius: 4px;

    top: 50%;
    transform: translateY(-50%);
  }
  &-input:checked + &-icon {
    background-color: $accent;
    background-image: url(../images/SVG/iconcheck.svg);
    background-size: contain;
    background-origin: border-box;
    border-color: $accent;
  }
}
.contract {
  margin-left: 24px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.17;

  color: $primary-text-color;
  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 1.71;
  }

  &-link {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 1.17;

    color: $accent;

    @media screen and (min-width: 1200px) {
      font-size: 14px;
      line-height: 1.71;
    }
  }
}
.submit {
  display: flex;
  justify-content: center;
}
.button-form {
  background-color: $accent;
  border: 1px solid transparent;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  padding: 10px 32px;

  min-width: 200px;
}
.button-text-form {
  color: $background-body;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  text-align: center;
}
